# Week 4 Exercise (group): Exploratory Data Analysis on Social Media Data

- Keeley
- Vik
- Isaac 
- Jim
- Goar

## 1. Import necessary packages

In [ ]:
# import necessary packages here

In [4]:
!pip install nltk

Collecting nltk
  Using cached nltk-3.8.1-py3-none-any.whl (1.5 MB)
Collecting regex>=2021.8.3
  Using cached regex-2023.5.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (769 kB)
Collecting click
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.65.0)
Installing collected packages: regex, click, nltk
Successfully installed click-8.1.3 nltk-3.8.1 regex-2023.5.5

In [5]:
import nltk

In [6]:
from nltk import ngrams

In [7]:
from collections import Counter

In [8]:
import pandas as pd

In [25]:
!pip install emoji

Requirement already satisfied: emoji in /opt/conda/lib/python3.10/site-packages (2.2.0)

In [26]:
import emoji

In [34]:
import re

## 2. Read the data

The data is called `tweets.csv` in the same folder. More information about the data see [here](https://www.kaggle.com/datasets/infamouscoder/mental-health-social-media)

The main column you will be working with is `post_text`

In [11]:
# df = 
df = pd.read_csv("tweets.csv")

# explore the data characteristic using `df.describe()` or `df.info()`

df.describe()

,Unnamed: 0,post_id,user_id,followers,friends,favourites,statuses,retweets,label
count,20000.000000,2.000000e+04,2.000000e+04,20000.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000
mean,9999.500000,6.874728e+17,3.548623e+16,900.483950,782.428750,6398.235550,4.439442e+04,1437.927300,0.500000
std,5773.647028,1.708396e+17,1.606083e+17,1899.913961,1834.817945,8393.072914,1.407785e+05,15119.665118,0.500013
min,0.000000,3.555966e+09,1.472438e+07,0.000000,0.000000,0.000000,3.000000e+00,0.000000,0.000000
25%,4999.750000,5.931686e+17,3.242944e+08,177.000000,211.000000,243.000000,5.129000e+03,0.000000,0.000000
50%,9999.500000,7.637400e+17,1.052122e+09,476.000000,561.000000,2752.000000,1.325100e+04,0.000000,0.500000
75%,14999.250000,8.153124e+17,2.285923e+09,1197.000000,701.000000,8229.000000,5.289200e+04,1.000000,1.000000
max,19999.000000,8.194574e+17,7.631825e+17,28614.000000,28514.000000,39008.000000,1.063601e+06,839540.000000,1.000000

In [12]:
df

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1
...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,819336825231773698,Thu Jan 12 00:14:56 +0000 2017,A day without sunshine is like night.,1169875706,442,230,7,1063601,0,0
19996,19996,819334654260080640,Thu Jan 12 00:06:18 +0000 2017,"Boren's Laws: (1) When in charge, ponder. (2) ...",1169875706,442,230,7,1063601,0,0
19997,19997,819334503042871297,Thu Jan 12 00:05:42 +0000 2017,The flow chart is a most thoroughly oversold p...,1169875706,442,230,7,1063601,0,0
19998,19998,819334419374899200,Thu Jan 12 00:05:22 +0000 2017,"Ships are safe in harbor, but they were never ...",1169875706,442,230,7,1063601,0,0
19999,19999,819334270825197568,Thu Jan 12 00:04:47 +0000 2017,Black holes are where God is dividing by zero.,1169875706,442,230,7,1063601,0,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20000 non-null  int64
 1   post_id       20000 non-null  int64
 2   post_created  20000 non-null  object
 3   post_text     20000 non-null  object
 4   user_id       20000 non-null  int64
 5   followers     20000 non-null  int64
 6   friends       20000 non-null  int64
 7   favourites    20000 non-null  int64
 8   statuses      20000 non-null  int64
 9   retweets      20000 non-null  int64
 10  label         20000 non-null  int64
dtypes: int64(9), object(2)
memory usage: 1.7+ MB

In [14]:
print(df["post_text"].head(1))

0    It's just over 2 years since I was diagnosed w...
Name: post_text, dtype: object

## 3. Extract emojis

Use `emoji` package to extract emojis and put them into a new column called `emojis`

In [ ]:
# define the function


# apply the function to your dataframe

In [19]:
text_column = df["post_text"]

In [20]:
text_column

0        It's just over 2 years since I was diagnosed w...
1        It's Sunday, I need a break, so I'm planning t...
2        Awake but tired. I need to sleep but my brain ...
3        RT @SewHQ: #Retro bears make perfect gifts and...
4        It’s hard to say whether packing lists are mak...
                               ...
19995                A day without sunshine is like night.
19996    Boren's Laws: (1) When in charge, ponder. (2) ...
19997    The flow chart is a most thoroughly oversold p...
19998    Ships are safe in harbor, but they were never ...
19999       Black holes are where God is dividing by zero.
Name: post_text, Length: 20000, dtype: object

In [21]:
text_column = text_column.apply(emoji.emojize)

In [35]:
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)

In [37]:
df['emojis'] = df['post_text'].apply(lambda x: ''.join(emoji_pattern.findall(x)))

In [40]:
print(df[['post_text', 'emojis']].head(10))

                                           post_text emojis
0  It's just over 2 years since I was diagnosed w...
1  It's Sunday, I need a break, so I'm planning t...
2  Awake but tired. I need to sleep but my brain ...
3  RT @SewHQ: #Retro bears make perfect gifts and...
4  It’s hard to say whether packing lists are mak...
5  Making packing lists is my new hobby... #movin...
6  At what point does keeping stuff for nostalgic...
7  Currently in the finding-boxes-of-random-shit ...
8  Can't be bothered to cook, take away on the wa...    😁👍🏼
9  RT @itventsnews: ITV releases promo video for ...

In [43]:
print(df[["emojis"]].head(30))

   emojis
0
1
2
3
4
5
6
7
8     😁👍🏼
9
10
11
12      😥
13     🏡😊
14
15
16
17    😊👍🏼
18      😉
19
20
21
22      💕
23
24
25
26
27
28
29    🏡🎉💕

## 4. Text Cleaning using Regular Expressions 

1. Remove URLs
2. Remove mentions
3. Remove hashtags
4. Remove special characters
5. Remove extra space

Code can be found in [week 6 lecture 1](https://github.com/yibeichan/COMM160DS/blob/main/week_6/lecture_part1.ipynb) section `4.4 All-in-One`

Perform the analysis and save the results into a new column.

In [ ]:
# define the function

# apply the function to your dataframe

In [83]:
def clean_text(text):
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)  # remove URLs
    text = re.sub(r'@\w+', '', text)  # remove mentions
    text = re.sub(r'\W', ' ', text)  # remove special characters
    text = re.sub(r'\s+', ' ', text)  # remove extra spaces
    text = re.sub(r'#\w+', '', text)  # remove hastags
    text = re.sub(r'https?://\S+|www.\S+', '', text) # remove urls
    return text.strip()

text_column = df["post_text"]
df['cleaned_text'] = df["post_text"].apply(clean_text)
df['cleaned_text'].head(10)

0    It s just over 2 years since I was diagnosed w...
1    It s Sunday I need a break so I m planning to ...
2    Awake but tired I need to sleep but my brain h...
3    RT Retro bears make perfect gifts and are grea...
4    It s hard to say whether packing lists are mak...
5     Making packing lists is my new hobby movinghouse
6    At what point does keeping stuff for nostalgic...
7    Currently in the finding boxes of random shit ...
8    Can t be bothered to cook take away on the way...
9    RT ITV releases promo video for the final seri...
Name: cleaned_text, dtype: object

## 5. Analysis 1 (Rename the title with your chosen analysis)

Choose one analysis from (1)Sentiment Analysis, (2)N-grams and Phrase Analysis, (3)Collocation Analysis, (4)Part-of-Speech Tagging, (5)Named Entity Recognition, and (6)Dependency Parsing.

Perform the analysis and save the results into a new column.

In [ ]:
# write your code here

In [86]:
def generate_ngrams(text, n):
    tokens = text.apply(lambda x: x.split())
    return list(tokens.apply(lambda x: list(ngrams(x, n))))

text_column = df["post_text"]
bigrams = generate_ngrams(text_column, 2)
bigrams[:2]

[[("It's", 'just'),
  ('just', 'over'),
  ('over', '2'),
  ('2', 'years'),
  ('years', 'since'),
  ('since', 'I'),
  ('I', 'was'),
  ('was', 'diagnosed'),
  ('diagnosed', 'with'),
  ('with', '#anxiety'),
  ('#anxiety', 'and'),
  ('and', '#depression.'),
  ('#depression.', 'Today'),
  ('Today', "I'm"),
  ("I'm", 'taking'),
  ('taking', 'a'),
  ('a', 'moment'),
  ('moment', 'to'),
  ('to', 'reflect'),
  ('reflect', 'on'),
  ('on', 'how'),
  ('how', 'far'),
  ('far', "I've"),
  ("I've", 'come'),
  ('come', 'since.')],
 [("It's", 'Sunday,'),
  ('Sunday,', 'I'),
  ('I', 'need'),
  ('need', 'a'),
  ('a', 'break,'),
  ('break,', 'so'),
  ('so', "I'm"),
  ("I'm", 'planning'),
  ('planning', 'to'),
  ('to', 'spend'),
  ('spend', 'as'),
  ('as', 'little'),
  ('little', 'time'),
  ('time', 'as'),
  ('as', 'possible'),
  ('possible', 'on'),
  ('on', 'the'),
  ('the', '#A14...')]]

## 6. Analysis 2 (Rename the title with your chosen analysis)

Choose another analysis from (1)Sentiment Analysis, (2)N-grams and Phrase Analysis, (3)Collocation Analysis, (4)Part-of-Speech Tagging, (5)Named Entity Recognition, and (6)Dependency Parsing.

Perform the analysis and save the results into a new column.

In [ ]:
# write your code here

In [87]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [88]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/jovyan/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [90]:
sia = SentimentIntensityAnalyzer()
df['sentiment_scores'] = df['post_text'].apply(lambda x: sia.polarity_scores(x))
df['sentiment_scores'].head()

0    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
2    {'neg': 0.259, 'neu': 0.741, 'pos': 0.0, 'comp...
3    {'neg': 0.0, 'neu': 0.715, 'pos': 0.285, 'comp...
4    {'neg': 0.06, 'neu': 0.819, 'pos': 0.121, 'com...
Name: sentiment_scores, dtype: object

## 7. Push Your Results to GitHub

As you did in previous weeks:
1. `git status`
2. `git add`
3. `git commit -m "type your message here"`
4. `git push`

If you can't push it to GitHub, it's okay to manually uploaded it.